<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="card">
        <h1>Login</h1>
        <form [formGroup]="form" (ngSubmit)="check()">
            <label for="name">Name : </label>
            <input type="text" formControlName="name" placeholder="Name"><br><br>
            <label for="pass">Password : </label>
            <input type="password" formControlName="password" placeholder="Password"><br><br>
            <button type="submit" value="LOGIN">Login</button>
            <button type="submit" value="SIGNUP" (click)="signup()">SignUp</button>
        </form>
    </div>
    <h2>{{string}}</h2>
</body>
</html>
