.card{
    margin-left: 36%;
    margin-top: 5vw;
    width: 25vw;
    padding: 1vw;
    text-align: center;
    border: 1px solid gold;
    height: auto;
    border-radius: 0.9vw;
    background-image: linear-gradient(to left,rgb(255, 205, 113),rgb(247, 150, 133));
    font-size: 1vw;
    box-shadow: 0 0.5vw 0.5vw 0 goldenrod;
}
input{
    font-size: 1vw;
    color: gray;
    border-radius: 0.5vw;
    padding: 0.5vw;
}
button{
    color: white;
    background-color: green;
    padding: 0.9vw;
    border-radius: 0.5vw;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(0, 224, 0);
    color: black;
}
h2{
    color: red;
    text-align: center;
}