*{
    text-align: center;
}
.header{
    padding: 1vw;
    color: wheat;
    border: 0.75px solid black;
    background-image: linear-gradient(to left,red,rgb(252, 62, 93));
}
.footer{
    padding-top: 1vw;
    padding-bottom: 0.01vw;
    background-color: black;
    color: palevioletred;
    margin-top: max-content;
    margin-bottom: 1vw;
}
.info{
    display: block;
    box-sizing: border-box;
    padding: 0.7vw;
    margin-left: 34vw;
    border-radius: 0.3vw;
    border: 1px solid red;
    background-image:linear-gradient(to right,rgb(253, 227, 78),rgb(255,255,133));
    word-wrap: break-word;
    width: 30vw;
    height: 20vw;
}
body{
    background-color: rgb(248, 180, 180);
}
a{
    padding: 0.4vw;
}
i{
    color: white;
}
i:hover{
    color: yellow;
}
