<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="header">
          <i class="fab fa-itunes" style="font-size: 2vw;"> App Tunify</i>
        </div><br>
        <router-outlet></router-outlet>
        <br>
        <div class="info">
          <h2 style="color: red;">About Tunify..</h2>
          <h3>Tunify is a mp3 application, which provides all the available albums in Cinema Industry fetched via API calls and providing songs with a preview. The user can search for any available song albums and listen to their HQ audio tracks.</h3>
          <h3>Since this application uses Web API, the access token may get expired after some time.</h3>
          <hr>
          <i class="fab fa-itunes" style="font-size: 4vw; color: red;"> App Tunify</i>
        </div>
        <br>
        <div class="footer">
          <a href="https://github.com/K-Meiarasu" target="_blank"><i class="fab fa-github" style="font-size: 1.5vw;"></i></a>
          <a href="https://instagram.com/iamgauthammeiarasu.k" target="_blank"><i class="fab fa-instagram" style="font-size: 1.5vw;"></i></a>
          <a href="https://www.linkedin.com/in/meiarasu-k-5a95761b4/" target="_blank"><i class="fab fa-linkedin-in" style="font-size: 1.5vw;"></i></a><br>
          <h4>All Rights reserved.</h4>
      </div>
  </body>
</html>